.cascade-select-wrapper {
  .field {
    display: flex;
    gap: 0.25rem 1rem;

    > div {
      flex-grow: 1;
    }
  }

  :where(.p-inputtext, .p-cascadeselect) {
    width: 100%;
  }

  .p-icon-field {
    .p-input-icon {
      z-index: 5;
      color: var(--text-color-secondary);
    }

    &.p-icon-field-right {
      :where(.p-cascadeselect) {
        padding-right: 2.5rem;
      }

      .p-input-icon {
        right: 0.75rem;
        left: auto;
      }
    }

    &.p-icon-field-left {
      :where(.p-cascadeselect) {
        padding-left: 2.5rem;
      }

      .p-input-icon {
        left: 0.75rem;
        right: auto;
      }
    }
  }

  &.label-fix-side .field {
    flex-direction: row;
    align-items: center;
  }

  &.label-fix-top .field {
    flex-direction: column;

    label {
      margin-bottom: 0.25rem;
    }
  }

  &.addon-before {
    [class*="icon-"] {
      :where(.p-inputtext, .p-cascadeselect) {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
      }
    }
  }

  &.addon-after {
    &.label-float {
      .p-inputgroup-addon {
        border-left: 0;
      }
    }

    [class*="icon-"] {
      :where(.p-inputtext, .p-cascadeselect) {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
    }
  }

  &[class*="addon-"] {
    .p-inputgroup {
      .p-icon-field,
      .p-float-label {
        flex-grow: 1;
      }
    }

    &.addon-before :where(.p-inputtext, .p-cascadeselect)  {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    &.addon-after :where(.p-inputtext, .p-cascadeselect)  {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
  }

  &.is-ltr {
    direction: ltr;

    &.label-float {
      &.icon-left .field label {
        left: 2.5rem;
      }
    }
  }

  &.is-rtl {
    direction: rtl;

    &.label-float {
      label {
        left: auto;
        right: 0.75rem;
      }

      &.icon-right .field label {
        right: 2.5rem;
      }
    }

    &[class*="addon-"] {
      .p-inputgroup {
        flex-direction: row-reverse;
      }
    }
  }
}
