@mixin radius-all($value) {
  @include radius-start($value);
  @include radius-end($value);
}

@mixin radius-start($value) {
  border-start-start-radius: $value;
  border-end-start-radius: $value;
}

@mixin radius-end($value) {
  border-start-end-radius: $value;
  border-end-end-radius: $value;
}

@mixin adjust-addon-styles($selector) {
  &.addon-both {
    #{$selector} {
      @include radius-all(0);
    }
  }

  &.addon-start {
    #{$selector} {
      @include radius-start(0);
      @include radius-end(var(--border-radius));
    }
  }

  &.addon-end {
    #{$selector} {
      @include radius-start(var(--border-radius));
      @include radius-end(0);
    }
  }
}
