.input-switch-wrapper {
  .field {
    display: flex;
    gap: 0.25rem 1rem;

    > .field-inner {
      flex-grow: 1;
      display: flex;
    }
  }

  &.label-fix-side .field {
    flex-direction: row;
    align-items: center;
  }

  &.label-fix-top .field {
    flex-direction: column;

    label {
      margin-bottom: 0.25rem;
    }
  }

  &.is-ltr {
    direction: ltr;
  }

  &.is-rtl {
    direction: rtl;
  }
}
